/* Estilos Generales */
.main-container-blog {
    color: whitesmoke;
    padding: 40px 20px;
    padding-bottom: 120px;
    position: relative;
    z-index: 1;
    width: 100%;
    max-width: 1500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center;
    margin: auto;
    height: auto;
    max-height: calc(100vh - 50px);
    overflow-y: auto;
}


/* Ocultar la barra de scroll en navegadores basados en Webkit */
.main-container-blog::-webkit-scrollbar {
    display: none;
}
.blog-container {
    position: relative;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    width: 100%;
}

.blog-post {
    overflow: hidden;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    height: 100%;
    border-bottom: 1px solid #fff;
    padding-bottom: 15px;
}

.blog-article .blog-content {
    text-align: justify;
    text-justify: inter-word; 
}


.blog-image {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.content-container {
    flex-grow: 1; /* Esto permite que la parte de contenido ocupe el espacio disponible */
}

.blog-image-full {
    width: 100%;  
    height: auto; 
    object-fit: cover;  
    margin-bottom: 20px;  
}


.blog-post h3 {
    font-size: 1.5rem;
    margin-top: 15px;
}

.blog-post p {
    font-size: 1rem;
    color: #000000;
}

.button-container {
    margin-top: auto; 
    text-align: left;
}

.blog-post p {
    text-align: justify; 
    text-justify: inter-word;
}

.blog-article {
    position: relative;
    z-index: 1;
    margin: 120px auto;
    text-align: center;

}

.read-more {
    display: inline-block;
    background-color: rgb(160, 210, 212);
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 12px 24px;
    border-radius: 8px;
    text-decoration: none;
    transition: background 0.3s ease-in-out;
    width: auto;
}

.read-more:hover {
    background-color: rgb(233, 121, 124);
    color: white;
    transform: scale(1.1);
}

.back-button {
    display: inline-block;
    background-color: rgb(160, 210, 212);
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 12px 24px;
    border-radius: 8px;
    text-decoration: none;
    transition: background 0.3s ease-in-out;
    margin-top: 40px;
    text-align: center;
}

.back-button:hover {
    background-color: rgb(233, 121, 124);
    color: white;
    transform: scale(1.1);
}

/* Estilo para el contenedor de carga */
.loading-container {
    opacity: 0;
    animation: fadeIn 1s forwards; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #fff;  
}

/* Definir la animación fade-in */
@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.loading {
    font-size: 1.5rem;  
}


@media (max-width: 768px) {
    .blog-container {
        grid-template-columns: 1fr; /* Una columna en pantallas pequeñas */
    }
}
