/* Footer General */
.footer {
    background-color: #A0D2D4;
    color: white;
    padding: 20px 40px;
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out; 
    opacity: 0; /* Inicialmente oculto */
    visibility: hidden;
}

.footer.visible {
    opacity: 1; 
    visibility: visible;
}

/* Contenedor principal */
.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

/* Logo (Clickeable) */
.footer-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-logo img {
    height: 70px;
    margin-right: 50px;
    width: auto;
    transition: transform 0.3s ease-in-out;
}

.footer-logo:hover img {
    transform: scale(1.1);
}

/* Contacto (Email, Teléfono, WhatsApp) */
.footer-contact {
    display: flex;
    align-items: center;
    gap: 50px;
}

.contact-link {
    color: whitesmoke;
    text-decoration: none;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: transform 0.3s ease-in-out;
}

.contact-link, 
.contact-link:visited, 
.contact-link:active {
    color: whitesmoke; 
    text-decoration: none;
}

.contact-link:hover {
    transform: scale(1.1);
    color: whitesmoke; 
    text-decoration: none;
}


/* Teléfono en móviles es clickeable, en pantallas grandes NO */
.phone-link {
    pointer-events: none; /* Desactiva en pantallas grandes */
}


/* Iconos */
.contact-link i {
    font-size: 1.2rem;
}

/* Segunda Línea (Copyright y Enlaces) */
.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
}

.footer-copy {
    color: black;
    font-size: 1.2rem;
    padding-right: 50px;
}

.footer-links {
    display: flex;
    gap: 15px;
}

.footer-links a {
    color: whitesmoke;
    text-decoration: none;
    font-weight: bold;
    transition: transform 0.3s ease-in-out;
}

.footer-links a:hover {
    transform: scale(1.1);
}

/* Responsivo */
@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        gap: 10px;
        margin-bottom: 5px;
    }

    .footer-contact {
        flex-direction: column;
        gap: 10px;
    }

    .footer-bottom {
        flex-direction: column;
        text-align: center;
    }

    .footer-copy {
        font-size: 1rem;
        padding-right: 0px;
        margin-bottom: 10px;
    }

    .phone-link {
        pointer-events: auto; /* Activa en móviles */
    }

    .footer-logo img {
        margin-right: 0px;
    }
}
