.footer {
    background-color: #A0D2D4;
    color: white;
    padding: 20px;
    width: 100%;
    position: fixed;
    bottom: 0;
    transition: opacity 0.4s ease-in-out, visibility 0.4s;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
}

.footer.visible {
    opacity: 1;
    visibility: visible;
}

.footer-container {
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* 🔹 Tres columnas iguales */
    align-items: center;
    gap: 20px;
    text-align: center;
    /* 🔹 Centra los textos */
}


/* 🔹 Estilos para el logo */
.footer-logo {
    display: flex;
    justify-content: center; /* 🔹 Centra horizontalmente */
    align-items: center; /* 🔹 Centra verticalmente */
}

.footer-logo img {
    height: 70px;
    width: auto;
    display: block; /* ✅ Permite que el margin auto funcione */
    margin: auto;
}


/* 🔹 Enlaces en el centro */
.footer-links {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.footer-links a {
    color: whitesmoke;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

.footer-links a:hover {
    color: rgba(255, 255, 255, 0.8);
}

/* 🔹 Contacto a la derecha */
.footer-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-contact a,
.footer-contact p  {
    color: whitesmoke;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

.footer-contact p {
    color: whitesmoke;
    font-size: 1rem;
    margin: 0px;
}


.footer-contact a:hover {
    color: rgba(255, 255, 255, 0.8);
}

/* 🔹 Copyright */
.footer-copy {
    text-align: center;
    opacity: 0.8;
    margin-top: 20px;
}

.footer-copy p {
    font-size: 1.1rem;
}



/* ✅ Responsivo */
@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        text-align: center;
    }

    .footer-links {
        flex-direction: column;
    }

    .footer-contact {
        align-items: center;
    }
}