/* Carrusel en el fondo */
.carousel {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

.carousel-track {
    display: flex;
    width: 200%; /* Doble del tamaño para efecto loop */
    animation: scroll 25s linear infinite;
}

.carousel img {
    width: 20%; /* Ocupa un 20% del carrusel */
    height: 100vh;
    flex-shrink: 0;
    object-fit: cover;
}

/* Animación del carrusel */
@keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); } /* Se mueve la mitad del contenedor */
}

/* Cards debajo del primer section */
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.card {
    width: 280px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    overflow: hidden;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 8px;
}

.card h3 {
    font-size: 1.5rem;
    margin-top: 15px;
    color: rgb(255, 255, 255);
}

.card p {
    font-size: 1rem;
    color: #000000;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 15px rgba(255, 255, 255, 0.2);
}

