/* Asegura que el fondo se mantenga fijo */
.app-container {
    background: linear-gradient(0deg, rgb(233, 121, 124) 30%, rgb(160, 210, 212) 100%);
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* Estilos Generales */
.main-container {
    color: whitesmoke;
    padding-bottom: 280px;
    position: relative;
    z-index: 1;
    width: 90%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: auto;
    height: auto;
    max-height: calc(100vh - 50px);
    overflow-y: auto;
}

/* Ocultar la barra de scroll en navegadores basados en Webkit */
.main-container::-webkit-scrollbar {
    display: none;
}



/* Sección de contenido sobre el carrusel */
.content {
    position: relative;
    z-index: 1;
    background: rgba(0, 0, 0, 0.7);
    /* Fondo oscuro semi-transparente */
    padding: 60px;
    border-radius: 12px;
    max-width: 900px;
    margin: 120px auto;
    margin-bottom: 80px;
    text-align: center;
}

h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.content p {
    font-size: 1.2rem;
    line-height: 1.6;
    color: #e0e0e0;
}

h2 {
    font-size: 2rem;
    margin-top: 40px;
}

p {
    font-size: 1.2rem;
    line-height: 1.6;
    color: #000000;
}

/* Unificar estilos de secciones */
.section-container {
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
    padding: 40px;
    border-radius: 12px;
    max-width: 900px;
    margin: 40px auto;
    text-align: center;
}

/* Ajustar textos */
.section-container p {
    color: #000; 
}

/* Lista con iconos (solo para ciertas secciones como 'approach') */
.section-container ul {
    list-style: none;
    padding: 0;
}

.section-container li {
    font-size: 1.2rem;
    margin: 10px 0;
    color: #000000;
    position: relative;
}

.section-container li::before {
    content: "✔";
    color: limegreen;
    font-weight: bold;
    margin-right: 10px;
}


.cta-button {
    display: inline-block;
    background-color: rgb(160, 210, 212);
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 12px 24px;
    border-radius: 8px;
    text-decoration: none;
    transition: background 0.3s ease-in-out;
    text-align: center;
    margin-top: 15px;
}

.cta-button:hover {
    background-color: rgb(233, 121, 124);
    color: white;
    transform: scale(1.1);
}

/* Optimización del renderizado para evitar residuos */
.main-container, .main-container-blog, .privacidad-container {
    backface-visibility: hidden;
    will-change: transform;
}

/* Estado inicial: oculto y desplazado */
.content, 
.section-container, 
.about-us, 
.values-section, 
.value-content, 
.contact-container, 
.contact-form, 
.contact-options {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.blog-post,
.card {
    opacity: 0;
    transform: translateY(80px);
    transition: opacity 0.8s ease-out, transform 1s ease-out !important; /* Más lento */
    will-change: opacity, transform;
}


/* Cuando el Observer detecta la sección */
.fade-in {
    opacity: 1;
    transform: translateY(0);
}

/* Estado inicial: oculto y desplazado */
.blog-article h1,
.blog-article .post-info,
.blog-article .blog-image-full,
.blog-article .blog-content {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

/* Cuando un elemento está listo */
.blog-article h1.fade-in,
.blog-article .post-info.fade-in,
.blog-article .blog-image-full.fade-in,
.blog-article .blog-content.fade-in {
    opacity: 1;
    transform: translateY(0);
}







@media (max-width: 768px) {
    .content {
        padding: 30px;
        /* Reducir el padding en pantallas pequeñas */
        max-width: 100%;
        /* Ocupar todo el ancho disponible */
        margin: 160px auto;
        margin-bottom: 50px;
    }

    .main-container {
        width: 100%;
        max-width: 1500px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .main-container-blog {
        width: 100%;
        max-width: 1500px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .section-container:last-of-type {
        margin-bottom: 100px;
    }

    .max-w-6xl .section-container:last-child {
        margin-bottom: 40px;
    }
}