.main-container.privacidad .content {
    background: white;
    color: black;
    margin-bottom: 40px;
}

.main-container.privacidad h1 {
    text-align: center;
}

.main-container.privacidad h2 {
    text-align: left;
}

.main-container.privacidad p,
.main-container.privacidad ul {
    text-align: left;
    color: black;
}

.main-container.privacidad ul {
    margin-left: 20px;
}

.content a {
    color: inherit; 
    text-decoration: none;
    font-weight: bold; 
}

.back-button-privacidad {
    display: inline-block;
    background-color: black;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 12px 24px;
    border-radius: 8px;
    text-decoration: none;
    transition: background 0.3s ease-in-out;
    margin-top: 40px;
    text-align: center;
    border: none;
    cursor: pointer;
}

.back-button:hover {
    background-color: rgb(233, 121, 124);
    transform: scale(1.1);
}